.p-cta {
  --section-padding-min: var(--section-wide-min);
  --section-padding-max: var(--section-wide-max);

  background-color: var(--color-bg-secondary);
}

.p-cta__inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  align-items: center;
  max-inline-size: var(--content-width-narrow);
  margin-inline: auto;
  text-align: center;
}

.p-cta__title {
  --_title-max: 600px;

  max-inline-size: var(--_title-max);
}

.p-cta__button {
  margin-block-start: var(--space-sm);
}
